@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-size: 2vmin;
}

html,
body {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.vsc-controller {
  display: none;
}

.left-100 {
  left: 100%;
}

.right-100 {
  right: 100%;
}

.max-h-half {
  max-height: 50vmin;
}

.font-cinzel {
  font-family: Cinzel, serif;
}

.font-audiowide {
  font-family: Audiowide;
}

.font-hiragino {
  font-family: 'Hiragino Kaku Gothic StdN', sans-serif;
}

.text-shadow-1 {
  text-shadow: 0 0 1rem #000;
}

.backdrop-filter-blur {
  backdrop-filter: blur(5px);
}

.badge-dot {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 0.3em;
    height: 0.3em;
    border-radius: 50%;
    background-color: red;
    pointer-events: none;
  }
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s steps(2) infinite;
  will-change: opacity;
}
